<?xml version="1.0" encoding="UTF-8"?>
<robot name="dual_ur_onrobot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Include file macro SRDF -->
    <xacro:include filename="$(find ur_onrobot_moveit_config)/srdf/ur_onrobot_macro.srdf.xacro" />

    <!-- Gọi macro cho tay trái và tay phải -->
    <xacro:ur_onrobot_srdf name="ur_onrobot" prefix="left_" />
    <xacro:ur_onrobot_srdf name="ur_onrobot" prefix="right_" />

    <!-- Tư thế tự định nghĩa cho TAY TRÁI -->
    <group_state name="left_scan_camera" group="left_ur_onrobot_manipulator">
        <joint name="left_elbow_joint" value="1.5" />
        <joint name="left_shoulder_lift_joint" value="-2.0" />
        <joint name="left_shoulder_pan_joint" value="1.0" />
        <joint name="left_wrist_1_joint" value="-1.0" />
        <joint name="left_wrist_2_joint" value="1.57" />
        <joint name="left_wrist_3_joint" value="0" />
    </group_state>

    <group_state name="gap_vat" group="left_ur_onrobot_manipulator">
        <joint name="left_shoulder_pan_joint" value="1.4312"/>
        <joint name="left_shoulder_lift_joint" value="-0.3665"/>
        <joint name="left_elbow_joint" value="0.0524"/>
        <joint name="left_wrist_1_joint" value="-1.1519"/>
        <joint name="left_wrist_2_joint" value="-1.7802"/>
        <joint name="left_wrist_3_joint" value="0.0000"/>
    </group_state>

    <group_state name="tha_vat" group="left_ur_onrobot_manipulator">
        <joint name="left_shoulder_pan_joint" value="-1.8500"/>
        <joint name="left_shoulder_lift_joint" value="-0.3665"/>
        <joint name="left_elbow_joint" value="0.0175"/>
        <joint name="left_wrist_1_joint" value="-1.1170"/>
        <joint name="left_wrist_2_joint" value="-1.5708"/>
        <joint name="left_wrist_3_joint" value="0.0000"/>
    </group_state>

    <!-- Tư thế tự định nghĩa cho TAY PHẢI -->
    <group_state name="gap_vat" group="right_ur_onrobot_manipulator">
        <joint name="right_shoulder_pan_joint" value="-1.3265"/>
        <joint name="right_shoulder_lift_joint" value="-2.2689"/>
        <joint name="right_elbow_joint" value="-1.0821"/>
        <joint name="right_wrist_1_joint" value="-1.2915"/>
        <joint name="right_wrist_2_joint" value="1.6057"/>
        <joint name="right_wrist_3_joint" value="0.0000"/>
    </group_state>

    <group_state name="tha_vat" group="right_ur_onrobot_manipulator">
        <joint name="right_shoulder_pan_joint" value="3.2289"/>
        <joint name="right_shoulder_lift_joint" value="-0.2269"/>
        <joint name="right_elbow_joint" value="-0.3142"/>
        <joint name="right_wrist_1_joint" value="-1.0297"/>
        <joint name="right_wrist_2_joint" value="-1.5708"/>
        <joint name="right_wrist_3_joint" value="0.0000"/>
    </group_state>

    <!-- Vô hiệu hóa va chạm giữa 2 đế robot -->
    <disable_collisions link1="left_base_link" link2="right_base_link" reason="FixedBase" />
    <disable_collisions link1="left_base_link_inertia" link2="right_base_link_inertia" reason="FixedBase" />
    <disable_collisions link1="left_base_link" link2="right_base_link_inertia" reason="FixedBase" />
    <disable_collisions link1="left_base_link_inertia" link2="right_base_link" reason="FixedBase" />

    <!-- Vô hiệu hóa tự va chạm tay kẹp TAY TRÁI (left_) -->
    <disable_collisions link1="left_right_inner_knuckle" link2="left_right_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="left_right_inner_finger" link2="left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="left_left_inner_knuckle" link2="left_left_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="left_left_inner_finger" link2="left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="left_left_inner_knuckle" link2="left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="left_left_inner_finger" link2="left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="left_left_outer_knuckle" link2="left_right_outer_knuckle" reason="Never"/>

    <!-- Vô hiệu hóa tự va chạm tay kẹp TAY PHẢI (right_) -->
    <disable_collisions link1="right_right_inner_knuckle" link2="right_right_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="right_right_inner_finger" link2="right_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="right_left_inner_knuckle" link2="right_left_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="right_left_inner_finger" link2="right_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="right_left_inner_knuckle" link2="right_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="right_left_inner_finger" link2="right_right_inner_finger" reason="Never"/>
    <disable_collisions link1="right_left_outer_knuckle" link2="right_right_outer_knuckle" reason="Never"/>
  
</robot>