<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ur_onrobot_srdf" params="name prefix">
    <!-- GROUPS -->
    <group name="${prefix}${name}_gripper">
      <link name="${prefix}onrobot_base_link"/>
      <link name="${prefix}cable_connector_0"/>
      <link name="${prefix}cable_connector_1"/>
      <link name="${prefix}left_inner_knuckle"/>
      <link name="${prefix}left_outer_knuckle"/>
      <link name="${prefix}left_inner_finger"/>
      <link name="${prefix}left_finger_tip"/>
      <link name="${prefix}right_inner_knuckle"/>
      <link name="${prefix}right_outer_knuckle"/>
      <link name="${prefix}right_inner_finger"/>
      <link name="${prefix}right_finger_tip"/>
      <link name="${prefix}finger_width_mock_link"/>
      <link name="${prefix}gripper_tcp"/>
    </group>

    <group name="${prefix}${name}_manipulator">
      <chain base_link="${prefix}base_link" tip_link="${prefix}gripper_tcp" />
    </group>

    <!-- GROUP STATES -->
    <group_state name="closed" group="${prefix}${name}_gripper">
      <joint name="${prefix}finger_width" value="0.0"/>
    </group_state>
    <group_state name="open" group="${prefix}${name}_gripper">
      <joint name="${prefix}finger_width" value="0.100"/>
    </group_state>

    <group_state name="${prefix}home" group="${prefix}${name}_manipulator">
      <joint name="${prefix}elbow_joint" value="0" />
      <joint name="${prefix}shoulder_lift_joint" value="-1.5707" />
      <joint name="${prefix}shoulder_pan_joint" value="0" />
      <joint name="${prefix}wrist_1_joint" value="0" />
      <joint name="${prefix}wrist_2_joint" value="0" />
      <joint name="${prefix}wrist_3_joint" value="0" />
    </group_state>

    <group_state name="${prefix}up" group="${prefix}${name}_manipulator">
      <joint name="${prefix}elbow_joint" value="0" />
      <joint name="${prefix}shoulder_lift_joint" value="-1.5707" />
      <joint name="${prefix}shoulder_pan_joint" value="0" />
      <joint name="${prefix}wrist_1_joint" value="-1.5707" />
      <joint name="${prefix}wrist_2_joint" value="0" />
      <joint name="${prefix}wrist_3_joint" value="0" />
    </group_state>

    <group_state name="${prefix}test_configuration" group="${prefix}${name}_manipulator">
      <joint name="${prefix}elbow_joint" value="1.4" />
      <joint name="${prefix}shoulder_lift_joint" value="-1.62" />
      <joint name="${prefix}shoulder_pan_joint" value="1.54" />
      <joint name="${prefix}wrist_1_joint" value="-1.2" />
      <joint name="${prefix}wrist_2_joint" value="-1.6" />
      <joint name="${prefix}wrist_3_joint" value="-0.11" />
    </group_state>

    <!-- END EFFECTOR -->
    <end_effector name="${prefix}${name}_gripper" parent_link="${prefix}gripper_tcp" group="${prefix}${name}_gripper" parent_group="${prefix}${name}_manipulator"/>

    <!-- DISABLE COLLISIONS: Cánh tay UR -->
    <disable_collisions link1="${prefix}base_link" link2="${prefix}base_link_inertia" reason="Adjacent" />
    <disable_collisions link1="${prefix}base_link_inertia" link2="${prefix}shoulder_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}tool0" link2="${prefix}wrist_1_link" reason="Never" />
    <disable_collisions link1="${prefix}tool0" link2="${prefix}wrist_2_link" reason="Never" />
    <disable_collisions link1="${prefix}tool0" link2="${prefix}wrist_3_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}forearm_link" link2="${prefix}upper_arm_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}forearm_link" link2="${prefix}wrist_1_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}shoulder_link" link2="${prefix}upper_arm_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}wrist_1_link" link2="${prefix}wrist_2_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}wrist_1_link" link2="${prefix}wrist_3_link" reason="Never" />
    <disable_collisions link1="${prefix}wrist_2_link" link2="${prefix}wrist_3_link" reason="Adjacent" />

    <!-- DISABLE COLLISIONS: Khớp nối tay kẹp OnRobot với Cánh tay UR -->
    <disable_collisions link1="${prefix}tool0" link2="${prefix}onrobot_base_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}tool0" link2="${prefix}cable_connector_0" reason="Never" />
    <disable_collisions link1="${prefix}tool0" link2="${prefix}cable_connector_1" reason="Never" />
    <disable_collisions link1="${prefix}onrobot_base_link" link2="${prefix}wrist_1_link" reason="Never" />
    <disable_collisions link1="${prefix}onrobot_base_link" link2="${prefix}wrist_2_link" reason="Never" />
    <disable_collisions link1="${prefix}onrobot_base_link" link2="${prefix}wrist_3_link" reason="Adjacent" />

    <!-- DISABLE COLLISIONS: Các bộ phận OnRobot Gripper -->
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}cable_connector_1" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}left_inner_finger" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}onrobot_base_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_0" link2="${prefix}wrist_3_link" reason="Default"/>
    
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}left_inner_finger" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}onrobot_base_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}wrist_2_link" reason="Default"/>
    <disable_collisions link1="${prefix}cable_connector_1" link2="${prefix}wrist_3_link" reason="Default"/>
    
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}left_inner_knuckle" reason="Default"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}left_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}onrobot_base_link" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}right_inner_finger" reason="Default"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_finger" link2="${prefix}wrist_3_link" reason="Never"/>
    
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}left_outer_knuckle" reason="Default"/>
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}onrobot_base_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}left_inner_knuckle" link2="${prefix}wrist_3_link" reason="Never"/>
    
    <disable_collisions link1="${prefix}left_outer_knuckle" link2="${prefix}onrobot_base_link" reason="Adjacent"/>
    <disable_collisions link1="${prefix}left_outer_knuckle" link2="${prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${prefix}left_outer_knuckle" link2="${prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}left_outer_knuckle" link2="${prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${prefix}left_outer_knuckle" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}left_outer_knuckle" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}left_outer_knuckle" link2="${prefix}wrist_3_link" reason="Never"/>
    
    <disable_collisions link1="${prefix}onrobot_base_link" link2="${prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${prefix}onrobot_base_link" link2="${prefix}right_inner_knuckle" reason="Adjacent"/>
    <disable_collisions link1="${prefix}onrobot_base_link" link2="${prefix}right_outer_knuckle" reason="Adjacent"/>
    
    <disable_collisions link1="${prefix}right_inner_finger" link2="${prefix}right_inner_knuckle" reason="Default"/>
    <disable_collisions link1="${prefix}right_inner_finger" link2="${prefix}right_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="${prefix}right_inner_finger" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}right_inner_finger" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}right_inner_finger" link2="${prefix}wrist_3_link" reason="Never"/>
    
    <disable_collisions link1="${prefix}right_inner_knuckle" link2="${prefix}right_outer_knuckle" reason="Default"/>
    <disable_collisions link1="${prefix}right_inner_knuckle" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}right_inner_knuckle" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}right_inner_knuckle" link2="${prefix}wrist_3_link" reason="Never"/>
    
    <disable_collisions link1="${prefix}right_outer_knuckle" link2="${prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${prefix}right_outer_knuckle" link2="${prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${prefix}right_outer_knuckle" link2="${prefix}wrist_3_link" reason="Never"/>
  </xacro:macro>
</robot>