<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find onrobot_description)/urdf/onrobot_rg2_macro.xacro"/>

  <xacro:macro name="ur_onrobot" params="
    parent
    robot_ip
    ur_type
    onrobot_type
    tf_prefix
    use_fake_hardware
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    script_filename
    output_recipe_filename
    input_recipe_filename
    origin_xyz:='0 0 0'
    origin_rpy:='0 0 0'"
  >

    <joint name="${tf_prefix}base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${tf_prefix}base_link" />
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
    </joint>

    <xacro:ur_robot
      name="${tf_prefix}ur"
      tf_prefix="${tf_prefix}"
      parent="${parent}"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      use_fake_hardware="${use_fake_hardware}"
      robot_ip="${robot_ip}"
      script_filename="${script_filename}"
      output_recipe_filename="${output_recipe_filename}"
      input_recipe_filename="${input_recipe_filename}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" /> 
    </xacro:ur_robot>

    <joint name="${tf_prefix}ur_to_onrobot" type="fixed">
      <parent link="${tf_prefix}tool0" />
      <child link="${tf_prefix}onrobot_base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <xacro:onrobot_rg2 prefix="${tf_prefix}"/>

  </xacro:macro>
</robot>